<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On the Growl</title>
  <link rel="stylesheet" type="text/css" href="/css/src.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class='bg-secondary'>
  <div class="flex-col justify-around">
    <header class="bg-accent_dark flex justify-between items-center p-8">
          <h1 class='text-4xl text-primary font-bold'>
            <span role="img" aria-label="paw prints">	&#128062;</span>
            <a href="/">On the Growl</a>
          </h1>
           <h3 class='text-2xl text-secondary italic'><a href="/">Find your fur-ever friend!</a></h3>
           <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <a class='text-2xl font-bold text-secondary' href="/dashboard">dashboard | </a>
          <button class="bg-alert rounded p-2" id="logout">logout</button>
          {{else}}
          <a href="/login"><button class="bg-primary rounded p-2" id="login">login</button></a>
          {{/if}}
        </nav>
    </header>
    <main class="container mx-auto px-8">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="bg-accent_dark flex justify-center items-center p-4 mt-8">
      <h3 class='text-2xl text-center text-secondary italic'>Made with 	&#128149; by Group 13</h3>
    </footer>
  </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>