<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your Favorites:</h3>

    <div>
        <p>liked pets here</p>
    </div>
    
  </div>

  <div class="col-md-6 entry-list">
    <h3>Your Settings:</h3>

    <div>
        <ul>
            <li>
                Looking for: <!--species, breeds, size, gender, age-->
            </li>
            <li>
                Good with: <!--dogs, cats, children-->
            </li>      
            <li>
                Options: <!--house-trained, declawed, special-needs-->
            </li>
            <li>
                Location:
            </li>
            <li>
                Search Radius:
            </li>
            <li>

            </li>
        </ul>
    </div>
</div>

<script src="./js/dashboard.js"></script>
